body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sign-up-box {
    background-color:#f1f1f1;
    padding:30px 50px;
    max-width:380px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    color: #726969;
    font-weight:600;
}

#loginDiv {
    background-color:#f1f1f1;
    padding:30px 50px;
    margin-top:50px;
    height:280px;
}

#CreateDiv {
    color:white;
    background-color:#1f92d5;
    padding:30px 50px;
    margin-top:50px;
    height:280px;
}

@media(max-width:991px) {
    #CreateDiv {
        background-color:#f1f1f1;
        color:black;
    }
}


@media(max-width:450px) {
    .sign-up-box {
        background-color:#ffffff;
    }
}


.navbar {
    background-color:#f1f1f1;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color:none;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color:#1f92d5;
}

#NavBtn {
    background-color:salmon;
}

#DengLuTuBiao {
    width:40px;
    height:40px;
    color:white;
    background-color:#1f92d5;
    border-radius:50%;
    line-height:40px;
    padding-left:12px;
    font-size:20px;
    margin-top:6px;
    cursor:pointer;
}

.navbar-header {
    float:left;
    margin-right: 0;
    margin-left: 0;
}

.navbar {
    border-radius: 0;
}

#logoutForm {
    float:right;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

#SearchBar {
    float:left;
    width:40%;
    margin-top:8px;
    max-width:400px;
}

#SearchBar .form-control {
    max-width:unset;
}

#headBar .container {
    max-width:unset;
}


#headBar .navbar-header {
    width:20%;
}

@media(max-width:635px) {
    #headBar .navbar-header {
        width:30%;
    }
}

@media(max-width:435px) {
    #headBar .navbar-header {
        width:40%;
    }
}


